<div class="row">
  <div class="well col-xs-8">
  <%= render 'shared/errors', obj: @comment%>
    <%= form_for([@post, @comment], :html => { class: "form", role: "form" }) do |f| %>
      <div class='input-group'>
        <%= f.text_field :body, class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit "Comment", class: 'btn btn-primary mb-2' %>
        </span>
      </div>
    <% end %>
  </div>
</div>