
<div className="row justify-content-center">
  <div className="col-8">
    <h2 className="mt-4 mb-4 text-center">Users</h2>
    <%= react_component("Users/Users", {currentUser: @currentUser, users: @users}) %>
  </div>
</div>