// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.bg-light-grey {
  background-color: lightgrey;
}