// General

$container-max-widths: (
        sm: 100%,
        md: 720px,
        lg: 800px,
        xl: 800px
) !default;

a:hover {
  cursor: pointer;
}

textarea {
  resize: none;
  border-radius: 3px;
  border: 1px solid #212529;
}

// Notifications

.notifications {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

// Flash

.flash .alert:nth-child(1) {
  position: fixed;
  top: 0;
  width: 100%;
}

.alert {
  padding: 1rem 1rem;
  text-align: center;
  z-index: 10;
}

// Posts

textarea#postEdit {
  width: 100%;
  resize: none;
}