@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/';



html {
  font-size: 0.6rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

.card .dropdown-toggle::after {
  content: none;
}